.content{
    display: none;
}
.show-content{
    display: block;
}

.tab ul{
 list-style-type: none;
}
.tab ul li{
    display: inline;
    color: white;
    text-align: center;
    background-color: #233040;
    border: 1px solid #233040;
    border-radius: 5px;
}
.tab ul li:hover{
    color:black;
    cursor: pointer;
    background-color: white;
}
.card-imagee{
    width:100%;
    height: 200px;
}
.btn-edit{
    background-color: #233040;
}
.view-details-btn{
    border: 1px solid #31B3D9;
    padding: 4px;
    border-radius: 5px;
}
