
  .edit-card{
    
    padding: 10px;
  }
  .card-body{
   
    border-radius: 10px;
    background-color:#233040;
    
  }
  .card-body{
    color:white
  }
  .f-ask-q{
    border: 2px solid #233040;
    padding: 10px;
    color: #172554;
    border-radius: 16px;
    
  }
  